@charset "utf-8";
/* CSS Document */
*{
	font-family:Tahoma, Geneva, sans-serif;
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.contenedor{
	width:98%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px; 
}
header{ 
	width:100%;
	border:1px solid black;
}
header h1{
	color:black;
	text-align:center
	font-size:15px;
	margin-bottom:10px;
	padding:10px;
}
header h2{
	color:gray;
	text-align:justify;
	font-size:15px;
	margin-bottom:10px;
	padding:10px;
}
main{
	width:100%;
}
main article{
	text-align:justify;
	padding:10px;
	font-size:15px;
	width:100%;
}
main aside{
	border:2px solid black;
	width:100%;
}
main aside h2{
	text-align:center;
	font-size:18px;
	border-bottom:1px solid gray;
	padding:5px;
	width:100%;
}
nain aside .formulario{
	width:100%;
	text-align:center;
}
main aside p#sistema{
	text-align:center;
	font-size:20px;
	margin-bottom:10px;
	text-transform:uppercase;/*transforma de minuscula a MAYUSCULA*/
	color:black;
}
#caja{
	font-size:20px;
	width:70%;
	height:auto;
	background:#009;
	color:#FFF;
}
main aside .form p{
	font-size:15px;
	color:gray;
	margin-bottom:10px;
}
#botton{
	font-size:22px;
	width:40%;
	height:40px;
	background:#FFF;
	color:#009;
	cursor:pointer;
	margin-bottom:10px;
}
#boton:hover{
	background:#CCC;
}
main aside .formulario p#resultado{
	color:black;
	font-size:20px;
}
footer{
	width:100%;
}
#tabla{
	width:100%;
	margin:auto;
	margin-top:10px;
}
#titulotabla{
	text-align:center;
	font-size:18px;
	font-weigth:bold;
	border-bottom:2px solid black;
	width:50%;
}
#filatabla{
	text-align:left;
	font-size:15px;
	border-bottom:1px solid gray;
	padding-left:5px;
}
@media (min-width:1024){
.contenedor{
	width:1000px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px; 
}
header{ 
	width:100%;
	border:1px solid black;
}
header h1{
	color:black;
	text-align:center
	font-size:20px;
	margin-bottom:10px;
	padding:10px;
}
header h2{
	color:gray;
	text-align:justify;
	font-size:15px;
	margin-bottom:10px;
	padding:10px;
}
main{
	width:100%;
}
main article{
	text-align:justify;
	padding:10px;
	font-size:20px;
	width:50%;
	float:left;
}
main aside{
	border:none;
	width:50%;
	float:left;
}
main aside h2{
	text-align:center;
	font-size:18px;
	border-bottom:1px solid gray;
	padding:5px;
	width:100%;
}
nain aside .formulario{
	width:100%;
	text-align:center;
}
main aside p#sistema{
	text-align:center;
	font-size:20px;
	margin-bottom:10px;
	text-transform:uppercase;/*transforma de minuscula a MAYUSCULA*/
	color:black;
}
#caja{
	font-size:20px;
	width:70%;
	height:30px;
	background:#009;
	color:#FFF;
	
}
main aside .form p{
	font-size:15px;
	color:gray;
	margin-bottom:10px;
}
#botton{
	font-size:22px;
	width:40%;
	height:30px;
	background:#FFF;
	color:#009;
	cursor:pointer;
	margin-bottom:10px;
}
#boton:hover{
	background:#CCC;
}
main aside .formulario p#resultado{
	color:black;
	font-size:20px;
}
footer{
	width:80%;
	margin:auto;
}
#tabla{
	width:100%;
	margin:auto;
	margin-top:20px;
}
#titulotabla{
	text-align:center;
	font-size:25 px;
	font-weigth:bold;
	border-bottom:2px solid black;
	width:50%;
}
#filatabla{
	text-align:left;
	font-size:20px;
	border-bottom:1px solid gray;
	padding-left:5px;
}
}
@media (max-width:1023px)and (min-width:768px){
main article{
	font-size:16px; 
	width:40%;
	float:left;
}
main aside{
	border:none;
	width:60%;
	float:left;
}
footer{
	width:80%;
	margin:auto; 
}	
}
@media (max-width:767px)and (min-width:401px){
	
main aside{
	border:2px solid black;
	width:80%;
	margin:auto;
}
#boton{
	height:35px;
}
footer{
	width:80%;
	margin:auto;
}
#titulotabla{
	font-size:15px;
}
#filatabla{
	text-align:center;
	font-size:14px;
}
}










